<!DOCTYPE html>
<html
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
>
<head th:replace="fragments/header :: headerFragment"></head>

<body id="page-top">
<!-- Navigation-->
<nav th:replace="fragments/nav :: navFragment"></nav>
<!-- Header-->
<header class="text-white" style="background-color: #5383E8">
    <div class="container px-4 text-center">
        <br><br>
        <form action="/summoners" method="POST">
            <div class="d-inline p-2">
                <input class="form-control" type="text" name="summonerName" id="summonerName" placeholder="소환사명을 입력해주세요.." aria-label="default input example">
                <br>
                <button type="submit" class="btn btn-success">검색</button>
            </div>
        </form>

    </div>
</header>
<!-- About section-->
<div class="profile-container">
    <div class="profile-view">
        <div class="profile-wrap">
            <div class="profile-icon">
                <img th:src="${profileIcon}">
                <div>
                    <span class="level" th:text="${summonerLevel}"></span>
                </div>
            </div>
            <div class="info">
                <div class="prev-tier"></div>
                <div class="name">
                    <span class="summoner-name" th:text="${name}"></span>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Services section-->
<div th:if = "${leagueId != null}">
    <div class="solo-rank-info">
        <div class="header">솔로랭크</div>
        <div class="content">
            <div class="tier-image"><img th:src="${tierImage}"></div>
            <div class="info">
                <div class="tier" th:text="${tier} + ' ' + ${rank}">
<!--                    <div th:if = "${tier} == 'CHALLENGER' or 'GRANDMASTER' or 'MASTER'" th:text="${tier}"></div>
                    <div th:unless = "${tier} == 'CHALLENGER' or 'GRANDMASTER' or 'MASTER'" th:text="${tier} + ' ' + ${rank}"></div>-->
                </div>
                <div class="lp" th:text="${leaguePoints} + ' LP'"></div>
            </div>
            <div class="win-lose-container">
                <div class="win-lose">
                    <p th:text="${wins} + '승  ' + ${losses} + '패'"></p>
                </div>
                <div class="rate" th:text="'승률 ' + ${winningRate} + '%'"></div>
            </div>
        </div>
    </div>
</div>
<div th:if = "${leagueId == null}">
    <div class="solo-rank-info">
        <p>Unranked</p>
    </div>
</div>
<!-- Bootstrap core JS-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
<script th:src="@{/js/summoner.js}"></script>

</body>
<!-- Footer-->
<footer th:replace="fragments/footer :: footerFragment"></footer>

</html>
